
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>carepoint - Car Wash Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'asset/img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'asset/lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'asset/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'asset/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="index.html">
                                <h1>Care<span>Point</span></h1>
                                <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Opening Hour</h3>
                                        <p>Mon - Fri, 8:00 - 9:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="fa fa-phone-alt"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Call Us</h3>
                                        <p>+9170254444</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Email Us</h3>
                                        <p>carepointinfo@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'abtpage' %}" class="nav-item nav-link">About</a>
<!--                            <a href="service.html" class="nav-item nav-link">Service</a>-->
<!--                            <a href="price.html" class="nav-item nav-link">Price</a>-->
<!--                            <a href="location.html" class="nav-item nav-link">Washing Points</a>-->

                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
                                <div class="dropdown-menu">
                                    {% for d in data %}
                                    <a href="{% url 'prodis' itemcatg=d.Name %}" class="dropdown-item">{{ d.Name }}</a>
                                    {% endfor %}
<!--                                    <a href="prodisplay.html" class="dropdown-item">Detail Page</a>-->
<!--                                    <a href="team.html" class="dropdown-item">Team Member</a>-->
<!--                                    <a href="booking.html" class="dropdown-item">Schedule Booking</a>-->
                                </div>
                            </div>
                            <a href="{% url 'cntpage' %}" class="nav-item nav-link">Contact</a>
                            <a href="{% url 'washpg' %}" class="nav-item nav-link">Servicing point</a>
                            <a href="{% url 'viewcartpage' %}" class="nav-item nav-link">cart</a>

                        <div class="nav-item dropdown" >
                                {% if request.session.username %}
                                <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown">{{request.session.username}}</a>
                                {% endif %}
                                <div class="dropdown-menu">

                                    <a href="{% url 'userlogout' %}" class="dropdown-item">login out</a>
                                </div>
                            </div>
                        </div>

                        <div class="ml-auto">
                            <a class="btn btn-custom" href="{% url 'logpage' %}">Sign Up/Login</a>
                        </div>







                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'asset/img/carousel-1.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>Washing & Detailing</h3>
                            <h1>Keep your Car Newer</h1>
                            <p>

                            </p>
                            <a class="btn btn-custom" href="">Explore More</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'asset/img/carousel-2.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>Washing & Detailing</h3>
                            <h1>Quality service for you</h1>
                            <p>

                            </p>
                            <a class="btn btn-custom" href="">Explore More</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'asset/img/carousel-3.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>Washing & Detailing</h3>
                            <h1>Exterior & Interior Washing</h1>
                            <p>

                            </p>
                            <a class="btn btn-custom" href="">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'asset/img/about.jpg' %}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>About Us</p>
                            <h2>car washing and detailing</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                 Car Service & Detailing is an amazing industry. People who love cars and love to keep everything organised in their daily life, find this industry very rewarding. For them success is a by-product of their love.
The Indian car detailing Industry is at a booming stage and is likely to see higher growth. It is fuelled by increasing automobile sales as well as improving the standard of living in India.
<b>CarePoint</b> is a business that will live for many coming decades; even when electric cars are around! Don’t miss out on the opportunity, start living your passion today and become a passionprenuer. Join the most trusted car detailing franchise in India today.
                            </p>
                            <ul>
                                <li><i class="far fa-check-circle"></i>Seats washing</li>
                                <li><i class="far fa-check-circle"></i>Vacuum cleaning</li>
                                <li><i class="far fa-check-circle"></i>Interior wet cleaning</li>
                                <li><i class="far fa-check-circle"></i>Window wiping</li>
                            </ul>
                            <a class="btn btn-custom" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>What We Do?</p>
                    <h2>Premium  Services</h2>
                </div>
                <div class="row">
                    {% for d in data %}
    			<div class="col-md-6 col-lg-3 ftco-animate">

    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ d.Image.url }}" style="width:250px;height:250px;" alt="Colorlib Template">
    						<span class="status"></span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a >{{d.Name}}</a></h3>
<!--                            <h6><a >{{d.Desc}}</a></h6>-->
                            <form  method="post" action="{% url 'prodis' itemcatg=d.Name %}"  enctype="multipart/form-data" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-round waves-affect waves-light">more info {{d.Name}}</button>
                            </form>
<!--    						<div class="d-flex">-->
<!--    							<div class="pricing">-->
<!--		    						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$120.00</span></p>-->
<!--		    					</div>-->

<!--	    					</div>-->

<!--	    					<div class="bottom-area d-flex px-3">-->
<!--	    						<div class="m-auto d-flex">-->
<!--	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">-->
<!--	    								<span><i class="ion-ios-menu"></i></span>-->
<!--	    							</a>-->
<!--	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">-->
<!--	    								<span><i class="ion-ios-cart"></i></span>-->
<!--	    							</a>-->
<!--	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">-->
<!--	    								<span><i class="ion-ios-heart"></i></span>-->
<!--	    							</a>-->
<!--    							</div>-->
<!--    						</div>-->
    					</div>
    				</div>
    			</div>
                {% endfor %}
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-car-wash"></i>-->
<!--                            <h3>Interior Washing</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-vacuum-cleaner"></i>-->
<!--                            <h3>Vacuum Cleaning</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-seat"></i>-->
<!--                            <h3>Seats Washing</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-car-service"></i>-->
<!--                            <h3>Window Wiping</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-car-service-2"></i>-->
<!--                            <h3>Wet Cleaning</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-car-wash"></i>-->
<!--                            <h3>Oil Changing</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="service-item">-->
<!--                            <i class="flaticon-brush-1"></i>-->
<!--                            <h3>Brake Reparing</h3>-->
<!--                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="{% static 'asset/img/facts.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">25</h3>
                                <p>Service Points</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-user"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">350</h3>
                                <p>Engineers & Workers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-users"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">1500</h3>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-check"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">5000</h3>
                                <p>Projects Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->


        <!-- Price Start -->
        <div class="price">
<!--            <div class="container">-->
<!--                <div class="section-header text-center">-->
<!--                    <p>Washing Plan</p>-->
<!--                    <h2>Choose Your Plan</h2>-->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="price-item">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-header">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3>Basic Cleaning</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h2><span>$</span><strong>25</strong><span>.99</span></h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Seats Washing</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-times-circle"></i>Interior Wet Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-times-circle"></i>Window Wiping</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="btn btn-custom" href="">Book Now</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="price-item featured-item">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-header">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3>Premium Cleaning</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h2><span>$</span><strong>35</strong><span>.99</span></h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Seats Washing</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Interior Wet Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-times-circle"></i>Window Wiping</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="btn btn-custom" href="">Book Now</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="price-item">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-header">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3>Complex Cleaning</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h2><span>$</span><strong>49</strong><span>.99</span></h2>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Seats Washing</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Interior Wet Cleaning</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><i class="far fa-check-circle"></i>Window Wiping</li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="price-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a class="btn btn-custom" href="">Book Now</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
        </div>
        <!-- Price End -->


        <!-- Location Start -->
<!--        <div class="location">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-7">-->
<!--                        <div class="section-header text-left">-->
<!--                            <p>Washing Points</p>-->
<!--                            <h2>Car Washing & Care Points</h2>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="location-item">-->
<!--                                    <i class="fa fa-map-marker-alt"></i>-->
<!--                                    <div class="location-text">-->
<!--                                        <h3>Car Washing Point</h3>-->
<!--                                        <p>123 Street, New York, USA</p>-->
<!--                                        <p><strong>Call:</strong>+012 345 6789</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="location-item">-->
<!--                                    <i class="fa fa-map-marker-alt"></i>-->
<!--                                    <div class="location-text">-->
<!--                                        <h3>Car Washing Point</h3>-->
<!--                                        <p>123 Street, New York, USA</p>-->
<!--                                        <p><strong>Call:</strong>+012 345 6789</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="location-item">-->
<!--                                    <i class="fa fa-map-marker-alt"></i>-->
<!--                                    <div class="location-text">-->
<!--                                        <h3>Car Washing Point</h3>-->
<!--                                        <p>123 Street, New York, USA</p>-->
<!--                                        <p><strong>Call:</strong>+012 345 6789</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="location-item">-->
<!--                                    <i class="fa fa-map-marker-alt"></i>-->
<!--                                    <div class="location-text">-->
<!--                                        <h3>Car Washing Point</h3>-->
<!--                                        <p>123 Street, New York, USA</p>-->
<!--                                        <p><strong>Call:</strong>+012 345 6789</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="col-lg-5">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="location-form">&ndash;&gt;-->
<!--&lt;!&ndash;                            <h3>Request for a car wash</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                            <form>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="control-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="text" class="form-control" placeholder="Name" required="required" />&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="control-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input type="email" class="form-control" placeholder="Email" required="required" />&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="control-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <textarea class="form-control" placeholder="Description" required="required"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button class="btn btn-custom" type="submit">Send Request</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </form>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Location End -->


        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Meet Our Team</p>
                    <h2>Our Engineers & Workers</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'asset/img/team-1.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Donald John</h2>
                                <p>Engineer</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'asset/img/team-2.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Adam Phillips</h2>
                                <p>Engineer</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'asset/img/team-3.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Thomas Olsen</h2>
                                <p>Worker</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'asset/img/team-4.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>James Alien</h2>
                                <p>Worker</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>What our clients say</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{% static 'asset/img/testimonial-1.jpg' %}" alt="Image">
                        <div class="testimonial-text">
                            <h3>shamil</h3>
                            <h4>It manager</h4>
                            <p>
                                My car was serviced in front of my eyes and I could very well see which spare parts they were using. The spare parts were 100% genuine. I saw them opening the brand packaging and putting the parts inside my car. I am really impressed with this new-age car servicing solution.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'asset/img/testimonial-2.jpg' %}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Vishnu</h3>
                            <h4>architect</h4>
                            <p>
                                My car’s AC wasn’t working fine, therefore, I opted for an AC service. I went to the workshop myself and saw them service my car’s AC in front of my eyes! My experience was really good and the quality of work delivered was worth every penny! Thanks Carepoint!
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'asset/img/testimonial-3.jpg' %}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Ajsal</h3>
                            <h4>Doctor</h4>
                            <p>
                                My car’s minor repair works were pending since long. This is when I came across Gomechanic’s advertisement and called them immediately. I had a smooth and professional experience with Carepoint. They are well-equipped and have got well-trained technicians too! I recommend Carepoint.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'asset/img/testimonial-4.jpg' %}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Shuhaif</h3>
                            <h4>Boker</h4>
                            <p>
                               The service buddy assigned to me was a very knowledgeable person. He gave me some expert advice on changing my car’s brake pads and I am glad I agreed! He was a genius for sure. My car brakes are working as good as new! I am a happy customer and would recommend Carepoint to everyone reading this.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Our Blog</p>
                    <h2>Latest news & articles</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'asset/img/blog-1.jpg' %}" alt="Image">
                                <div class="meta-date">
                                    <span>15</span>
                                    <strong>feb</strong>
                                    <span>2023</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Luxury car companies line up for big Indian electric vehicle race</a></h3>
                                <p>
                                    Mumbai: Luxury car makers are set to launch several electric vehicles in the coming months as they bet on EVs accounting for up to a fourth of their sales in the country in the next three-four years, up from low single-digit shares now, said industry executives.

                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'asset/img/blog-2.jpg' %}" alt="Image">
                                <div class="meta-date">
                                    <span>11</span>
                                    <strong>feb</strong>
                                    <span>2022</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Luxury car companies line up for big Indian electric vehicle race</a></h3>
                                <p>
                                    The rise of technology has not only brought changes in people's personal lives, but has also unravelled innovation and development in the business setting. A plethora of firms are implementing new technology innovations, and the automobile industry is no exception.
                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'asset/img/blog-3.jpg' %}" alt="Image">
                                <div class="meta-date">
                                    <span>01</span>
                                    <strong>Jan</strong>
                                    <span>2045</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Eye on cybersecurity as cars go smart</a></h3>
                                <p>
                                     Greater Noida: A government-backed vehicle testing institute is looking to invest in developing cybersecurity expertise, as the introduction of internet connectivity and computers in new-generation cars brings to the fore the need to shield them from remote hacking, just like smartphones and computers do.
                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i>aluva,Ernakulam,KERALA</p>
                            <p><i class="fa fa-phone-alt"></i>9754566555</p>
                            <p><i class="fa fa-envelope"></i>carepointinfo@example.com</p>
                            <div class="footer-social">
                                <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="">About Us</a>
                            <a href="">Contact Us</a>
                            <a href="">Our Service</a>
                            <a href="">Service Points</a>
<!--                            <a href="">Pricing Plan</a>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
<!--                    <div class="col-lg-3 col-md-6">-->
<!--                        <div class="footer-newsletter">-->
<!--                            <h2>Newsletter</h2>-->
<!--                            <form>-->
<!--                                <input class="form-control" placeholder="Full Name">-->
<!--                                <input class="form-control" placeholder="Email">-->
<!--                                <button class="btn btn-custom">Submit</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="#">CAREPOINT</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">Muhammed Baheej</a></p>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'asset/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'asset/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'asset/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'asset/lib/counterup/counterup.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'asset/mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'asset/mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'asset/js/main.js' %}"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	  {% if messages %}
		{% for message in messages %}

	  {% if message.tags == 'warning' %}
	  <script>
		swal('{{message}}','','warning');
	  </script>

	  {% elif message.tags == 'error' %}
	  <script>
		swal('{{message}}','','error');
	  </script>

	  {% else%}
	  <script>
		swal('{{message}}','','success');
	  </script>

	  {% endif %}

	  {% endfor %} {% endif %}
    </body>
</html>
