<!--<!DOCTYPE html>-->
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISPLAY CART</title>
</head>
<body>
<div class="card" style="background-color:#191c24">
              <div class="card-header">
                <h3 class="card-title">CART DETAILS</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th> COMPANY NAME</th>
                        <th>MODELS</th>
                      <th>PRODUCT NUMBER</th>
                      <th>PRICE</th>



                    </tr>
                  </thead>
                  <tbody>
                  {% for d in data %}
                  <tr>
                      <td>{{d.PDCTNAME}}</td>
                      <td>{{d.QUANTITY}}</td>
                      <td>{{d.CATEGORY}}</td>
                      <td>{{d.PRIZE}}</td>


                      <td>
                          <form action="{% url 'Deletecart' dataid=d.id %}">
                             <button onclick="alertfunction()" type="submit" class="btn btn-block btn-danger">DELETE</button>
                          </form>
                    </td>


                  </tr>

                  {% endfor %}

                  </tbody>
                </table>
<!--              </div>-->
<!--              &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--              <div class="card-footer clearfix">-->
<!--                <ul class="pagination pagination-sm m-0 float-right">-->
<!--                  <li class="page-item"><a class="page-link" href="#">«</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                  <li class="page-item"><a class="page-link" href="#">»</a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
                  <script>
  function alertfunction(){
  window.alert("DELETED SUCCESSFULLY")
  }
</script>
</body>
</html>
{% endblock %}